{% extends "auth_header.html" %}

{% block content %}
    <v-card elevation="24" max-width="400px" class="rounded-lg">
        <v-card-title>
            <h1>Register</h1>
        </v-card-title>

        <v-card-text>
            <form action="/register/" method="post">
                {% csrf_token %}

                {% for field in form %}
                    {% for error in field.errors %}
                    <v-alert dense outlined type="error">
                        {{ error }}
                    </v-alert>
                    {% endfor %}
                    <div class="form-outline mb-4">
                        {{ field }}
                    </div>
                {% endfor %}
                
                <v-divider class="mx-4"></v-divider>

                <v-btn type="submit" color="success">Register</v-btn>
                <v-btn href="/login" color="primary">Login</v-btn>
            </form>
        </v-card-text>
    </v-card>
{% endblock %}