<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Custom UCUG Styling -->
        <link rel="stylesheet" href="/static/css/header.css">

        <!-- Vue JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <!-- Vuetify -->
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

        <!-- Axios JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <title>UCUG</title>
    </head>
    <body>
        <!-- The v-content tag separates the sites content from its other components,
             such as the navbar. Without this tag, the content would be hidden under
             the nav bar. -->

        <v-app id="app">
            {% include "navbar.html" %}

            <v-main>
                <!-- The v-container tag helps center contents to the page -->
                <v-container fluid>
                    <v-row>
                        <v-col class="red" cols="1" xs="1" sm="3" md="2" lg="3"></v-col>
                        <v-col class="blue" xs="10" sm="9" md="8" lg="6">
                            {% block content %}{% endblock %}
                        </v-col>
                        <v-col class="red" cols="1" xs="1" sm="0" md="2" lg="3"></v-col>
                    </v-row>
                </v-container>
            </v-main>

            {% include "footer.html" %}
        </v-app>

        <script>
            vue = new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                delimiters: ['[[', ']]'],
                data: () => ({
                    drawer: false,
                    group:null,
                }),
                watch: {
                    group () {
                        this.drawer = false
                    }
                }
            })
        </script>
    </body>
</html>