{% extends 'header.html' %}

{% block content %}

<!-- Provide edit functionality for superusers -->
{% if perms.UCUG.add_announcement or perms.UCUG.add_forum %}
<v-row justify="end" class="pr-3">
    {% if perms.UCUG.add_announcement %}
    <v-btn @click="toggle_announcement_create_form" color="info" class="ma-2" elevation=6>
        <v-icon left>mdi-pencil</v-icon>Announcement
    </v-btn>
    {% endif %}

    {% if perms.UCUG.add_forum %}
    <v-btn @click="toggle_forum_create_form" color="info" class="ma-2" elevation=6>
        <v-icon left>mdi-pencil</v-icon>Forum
    </v-btn>
    {% endif %}
</v-row>
{% endif %}

<!-- Display announcement creation form -->
<v-row v-if="announcement_create_form">
    <v-card width="100%"
            class="ma-2"
            elevation=6
            outlined
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Create an Announcement</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="create_announcement_valid">
                <v-text-field v-model="create_announcement_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>
                <v-textarea v-model="create_announcement_content"
                            label="Content"
                            placeholder="Content"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="create_announcement" color="success">Create</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<!-- Display announcement edit form -->
<v-row v-if="announcement_edit_form">
    <v-card width="100%"
            class="ma-2"
            elevation=6
            outlined
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Edit  "[[ announcements[edit_announcement_id].title ]]"</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="edit_announcement_valid">
                <v-text-field v-model="edit_announcement_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>
                <v-textarea v-model="edit_announcement_content"
                            label="Content"
                            placeholder="Content"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="edit_announcement" color="success">Edit</v-btn>
            <v-btn @click="toggle_announcement_edit_form" color="error">Cancel</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<!-- Are there any announcements? -->
<div id="announcement_list" class="mt-2">
    <v-row v-for="announcement in announcements" :key="announcement.title">
        <v-card outlined
                width="100%"
                elevation=6
                class="ma-2 rounded-lg"
                style="border-left: 8px solid rgb(39,86,139)">
            <v-card-title>
                [[ announcement.title ]]
                <v-spacer></v-spacer>
                <!-- Author Tag -->
                <v-chip v-if="announcement.author_class == 'super'" 
                    :href="announcement.author_url" color="orange" text-color="white">
                    <v-icon left>mdi-shield-star</v-icon>[[ announcement.author_name ]]
                </v-chip>
                <v-chip v-if="announcement.author_class == 'staff'"
                    :href="announcement.author_url" color="success" text-color="white">
                    <v-icon left>mdi-shield-account</v-icon>[[ announcement.author_name ]]
                </v-chip>
                <v-chip v-if="announcement.author_class == 'user'"
                    :href="announcement.author_url" color="info" text-color="white">
                    <v-icon left>mdi-account</v-icon>[[ announcement.author_name ]]
                </v-chip>
            </v-card-title>

            <v-card-text>
                [[ announcement.content ]]
            </v-card-text>

            <v-card-actions v-if="announcement.can_edit">
                <v-spacer></v-spacer>
                <v-btn v-on:click="toggle_announcement_edit_form(announcement.id)" small class="mx-1" fab color="info"><v-icon>mdi-pencil</v-icon></v-btn>
                <v-btn v-on:click="delete_announcement(announcement.id)" small class="mx-1" fab color="error"><v-icon>mdi-delete</v-icon></v-btn>
            </v-card-actions>
        </v-card>
    </v-row>
</div>

<v-divider></v-divider>

<!-- Display forum creation form here -->
<v-row v-if="forum_create_form">
    <v-card width="100%"
            class="ma-2"
            elevation=6
            outlined
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Create a Forum</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="create_forum_valid">
                <v-text-field v-model="create_forum_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>

                <v-textarea v-model="create_forum_description"
                            label="Description"
                            placeholder="Description"
                            :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="create_forum" color="success">Create</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<!-- Display each forum -->
<v-row v-for="forum in forums" :key="forum.title">
    <v-hover v-slot="{ hover }"/>
    <v-card outlined
            width="100%"
            :elevation="hover ? 12 : 6"
            class="ma-2 rounded-lg"
            :href="forum.url"
            style="text-decoration: none;
                    border-left: 8px solid rgb(39,86,139)">
        <v-card-title>
            [[ forum.title ]]
            <v-spacer></v-spacer>
            <!-- Owner Tag -->
            <v-chip v-if="forum.owner_class == 'super'" 
                :href="forum.owner_url" color="orange" text-color="white">
                <v-icon left>mdi-shield-star</v-icon>[[ forum.owner_name ]]
            </v-chip>
            <v-chip v-if="forum.owner_class == 'staff'"
                :href="forum.owner_url" color="success" text-color="white">
                <v-icon left>mdi-shield-account</v-icon>[[ forum.owner_name ]]
            </v-chip>
            <v-chip v-if="forum.owner_class == 'user'"
                :href="forum.owner_url" color="info" text-color="white">
                <v-icon left>mdi-account</v-icon>[[ forum.owner_name ]]
            </v-chip>
        </v-card-title>

        <v-card-text>
            [[ forum.description ]]
        </v-card-text>
    </v-card>
</v-row>

{% endblock %}