{% extends 'header.html' %}

{% block content %}

<!-- Provide edit functionality for superusers -->
{% if perms.UCUG.add_announcement or perms.UCUG.add_forum %}
    {% if perms.UCUG.add_announcement %}
        Add Announcements    
    {% endif %}

    {% if perms.UCUG.add_forum %}
        Add Forums
    {% endif %}
{% endif %}

<!-- Are there any announcements? -->
{% for announcement in announcements %}
    Announcement
{% endfor %}

<!-- Display each forum -->
{% for forum in forums %}
    Forum
{% endfor %}

{% endblock %}