{% extends 'header.html' %}

{% block content %}

<!-- Provide edit functionality for superusers -->
{% if perms.UCUG.add_announcement or perms.UCUG.add_forum %}
<v-row justify="end">
    {% if perms.UCUG.add_announcement %}
    <v-btn @click="toggle_announcement_form" color="info" class="ma-2" elevation=6>
        <v-icon left>mdi-pencil</v-icon>Announcement
    </v-btn>
    {% endif %}

    {% if perms.UCUG.add_forum %}
    <v-btn @click="toggle_forum_form" color="info" class="ma-2" elevation=6>
        <v-icon left>mdi-pencil</v-icon>Forum
    </v-btn>
    {% endif %}
</v-row>
{% endif %}

<!-- Display announcement or forum creation forms here -->
<v-row v-if="announcement_form">
    <v-card width="100%"
            class="ma-2"
            elevation=6
            outlined
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Create an Announcement</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="announcement_valid">
                <v-text-field v-model="create_announcement_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>
                <v-textarea v-model="create_announcement_content"
                            label="Content"
                            placeholder="Content"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="create_announcement" color="success">Create</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<!-- Are there any announcements? -->
<div id="announcement_list">
{% for announcement in announcements %}
    {% include "announcement.html" with announcement=announcement %}
{% endfor %}
</div>

<v-divider></v-divider>
<!-- New forum form -->
<v-row v-if="forum_form">
    <v-card width="100%"
            class="ma-2"
            elevation=6
            outlined
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Create a Forum</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="forum_valid">
                <v-text-field v-model="create_forum_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>

                <v-textarea v-model="create_forum_description"
                            label="Description"
                            placeholder="Description"
                            :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="create_forum" color="success">Create</v-btn>
        </v-card-actions>
    </v-card>
</v-row>


<!-- Search bar to filter forums -->

<!-- Display each forum -->
{% for forum in forums %}
<v-row id="forum{{ forum.id }}">
    <v-hover v-slot="{ hover }"/>
    <v-card outlined
            width="100%"
            :elevation="hover ? 12 : 6"
            class="ma-2 rounded-lg"
            href="/profile/CAT"
            style="text-decoration: none;
                    border-left: 8px solid rgb(39,86,139)">
        <v-card-title>
            {{ forum.title }}
            <v-spacer></v-spacer>
            <!-- Owner Tag -->
            {% if forum.owner %}
                {% if forum.owner.is_superuser %}
                <v-chip href="/profile/{{ forum.owner.username }}" color="orange" text-color="white">
                    <v-icon left>mdi-shield-star</v-icon>{{ forum.owner.username }}
                </v-chip>
                {% elif forum.owner.is_staff %}
                <v-chip href="/profile/{{ forum.owner.username }}" color="success" text-color="white">
                    <v-icon left>mdi-shield-account</v-icon>{{ forum.owner.username }}
                </v-chip>
                {% else %}
                <v-chip href="/profile/{{ forum.owner.username }}" color="info" text-color="white">
                    <v-icon left>mdi-account</v-icon>{{ forum.owner.username }}
                </v-chip>
                {% endif %}
            {% endif %}
        </v-card-title>

        <v-card-text>
            {{ forum.description }}
        </v-card-text>

        {% if perms.UCUG.change_forum %}
        <v-card-actions>
            <v-btn small class="mx-1" fab color="info"><v-icon>mdi-pencil</v-icon></v-btn>
        </v-card-actions>
        {% endif %}
    </v-card>
</v-row>
{% endfor %}

{% endblock %}