{% extends "header.html" %}

{% block content %}
    <v-card elevation="24" max-width="400px" class="rounded-lg">
        <v-card-title>
            <h1>Login</h1>
        </v-card-title>
        
        <v-card-text>
            <form action="/login/" method="post">
                {% csrf_token %}
                
                {% for message in messages %}
                    <v-alert dense outlined type="error">
                        {{ message }}
                    </v-alert>
                {% endfor %}

                <div class="form-outline mb-4">
                    <input type="text" name="username"
                    placeholder="Username" class="form-control form-control-lg" autocomplete="off">
                </div>

                <div class="form-outline mb-4">
                    <input type="password" name="password"
                    placeholder="Password" class="form-control form-control-lg">
                </div>

                <v-divider class="mx-4"></v-divider>

                <v-btn type="submit" color="success">Login</v-btn>
                <v-btn githref="/register" color="primary">Register</v-btn>
            </form>
        </v-card-text>
    </v-card>
{% endblock %}