{% extends 'header.html' %}

{% block content %}
    <!--
    Maybe different cards could represent different aspects of the profile.
    One card could contain name and profile picture,
    another could contain passwords,

    One could have a bio.
    Other cards could eventually show a user's posts.

    How can you handle random spacing?

    Might use vuetify virtual scroll for long bios.
    -->
    <v-row>
    <v-col cols="12">

    <v-card elevation="12" max-width="360px" min-height="250px" class="rounded-lg">
        <!-- Contains profile picture, name, and description -->
        <v-list-item>
            <v-list-item-avatar size="84">
                <v-img v-bind:src="getImagePath()"/>
            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title class="text-h5 mb-1">
                    {{ profile.username }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    Joined {{ profile.joined|date:"M d, Y" }}
                </v-list-item-subtitle>
            </v-list-item-content>
            {% if profile.is_superuser %}
            <v-chip color="orange" text-color="white">
                <v-icon left>mdi-shield-star</v-icon>Admin
            </v-chip>
            {% elif profile.is_staff %}
            <v-chip color="success" text-color="white">
                <v-icon left>mdi-shield-account</v-icon>Mod
            </v-chip>
            {% endif %}
        </v-list-item>
        <v-list-item class="text-break">
            [[ profile_description ]]
        </v-list-item>
    </v-card>
    </v-col>

    {% if user == profile %}
    <v-col cols="12">
    <v-card elevation="12" max-width="360px" min-height="40px" class="rounded-lg">
    <v-card-actions>
        <v-btn color="info" @click="toggle_description_form">
            <v-icon left>mdi-pencil</v-icon>Edit
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="info" @click="toggle_image_form">
            <v-icon left>mdi-image</v-icon>Change
        </v-btn>
    </v-card-actions>

    <v-card-text v-if="profile_image_form">
        <v-form v-model="image_valid">
            <v-file-input show-size
                        ref="profile_pic"
                        :rules="image_rules"
                        v-model="profile_image_input"
                        accept="image/*"
                        label="Profile Picture"
                        prepend-icon="mdi-image"></v-file-input>
        </v-form>
        <v-btn color="success" @click="upload_image">Save</v-btn>
    </v-card-text>

    <v-card-text v-if="profile_description_form">
        <v-form v-model="description_valid">
            <v-textarea :rules="description_rules"
                        v-model="profile_description_input"
                        label="Profile Description"
                        prepend-icon="mdi-pencil"></v-textarea>
        </v-form>
        <v-btn color="success" @click="upload_description">Save</v-btn>
    </v-card-text>

    </v-card>
    </v-col>
    {% endif %}

    </v-row>

{% endblock %}