{% extends "header.html" %}

{% block content %}
    <v-card elevation="24" max-width="400px">
        <v-card-title>Register</v-card-title>
        <v-divider></v-divider>
        <v-form action="/register/" method="post">
            {% csrf_token %}
            <v-card-text>
                {{ form.as_p }}
            </v-card-text>
            <v-card-actions>
                <v-btn type="submit" color="success">Register</v-btn>
                <v-btn align-right href="/login" color="primary">Login</v-btn>
            </v-card-actions>
        </v-form>
    </v-card>
{% endblock %}