{% extends "header.html" %}

{% block content %}
    <v-card elevation="24" max-width="400px">
        <v-card-title>
            <h1>Register</h1>
        </v-card-title>

        <v-card-text>
            <form action="/register/" method="post">
                {% csrf_token %}
                
                {% if error %}
                <v-alert dense outlined type="error">
                    {{ error }}
                </v-alert>
                {% endif %}

                {% for field in form %}
                    <div class="form-outline mb-4">
                        {{ field }}
                    </div>
                {% endfor %}
                
                <v-btn type="submit" color="success">Register</v-btn>
                <v-btn href="/login" color="primary">Login</v-btn>
            </form>
        </v-card-text>
    </v-card>
{% endblock %}