{% extends "forum_header.html" %}

{% block content %}

<v-overlay :value="like_alert">
    <v-card-title>
        You need to be logged in to like posts!
        <v-btn small fab class="ml-1" @click="like_alert=false"><v-icon>mdi-close</v-icon></v-btn>
    </v-card-title>
</v-overlay>

<!-- Title Tag, like on the home page. -->
<v-row id="forum_header" class="mt-1 mb-1">
    <v-card outlined
            width="100%"
            elevation=6
            class="ma-2 rounded-lg"
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>
            [[ forum.title ]]
            <v-spacer></v-spacer>
            <!-- Edit Functionality -->
            {% if perms.UCUG.edit_forum %}
                <v-chip v-on:click="toggle_forum_edit_form()" small
                class="mr-2 pa-3" color="info">
                <v-icon>mdi-pencil</v-icon></v-chip>
            {% endif %}

            <!-- Author Tag -->
            {% if forum.owner_id %}
            <v-chip :href="forum.owner_url" color="orange" text-color="white">
                <v-icon left>mdi-shield-star</v-icon>[[ forum.owner_name ]]
            </v-chip>
            {% endif %}
        </v-card-title>

        <v-card-text>
            [[ forum.description ]]
        </v-card-text>
    </v-card>
</v-row>

<!-- Edit Form for Forum -->
<v-row v-if="forum_edit_form" class="mb-1">
    <v-card width="95%"
        class="ma-2"
        elevation="6"
        outlined
        style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Edit  "[[ forum.title ]]"</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="edit_forum_valid">
                <v-text-field v-model="edit_forum_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>
                <v-textarea v-model="edit_forum_description"
                            label="Description"
                            placeholder="Description"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="edit_forum" color="success">Edit</v-btn>
            <v-btn @click="toggle_forum_edit_form" color="error">Cancel</v-btn>
        </v-card-actions>
    </v-card>
</v-row>
<v-divider></v-divider>

<!-- Post Create & Filter functionality -->
<v-row class="mr-6 ml-6 mb-1 mt-1">
    <v-col cols="12" sm="8" class="pa-0">
        <v-text-field
            placeholder="Search Posts"
            v-model="query_search_term"></v-text-field></v-col>
    <v-col cols="12" sm="4" class="pa-0">
        <v-select
            :items="search_by"
            label="Search By"
            v-model="query_search_by"
        ></v-select></v-col>
</v-row>
<v-row class="ml-6 mr-6 mb-1 mt-2">
    <v-col cols="12" sm="4" class="pa-0">
        <v-select
            :items="order_by"
            label="Order By"
            v-model="query_order_by">
            </v-select></v-col>
    <v-col cols="12" sm="4" class="d-flex justify-center pa-0 pb-2">
        <v-btn
            outlined
            color="rgb(39,86,139)"
            :elevation="query_by_me ? 9 : 4"
            :class="query_by_me ? 'query_button_highlight' : ''"
            @click="query_by_me = !query_by_me">
                Posts By Me</v-btn></v-col>
    <v-col cols="12" sm="4" class="d-flex justify-space-between pa-0 pb-2">
        <v-btn elevation=4 rounded color="success" @click="search_posts"><v-icon>mdi-magnify</v-icon> Search</v-btn>
        <v-btn elevation=4 rounded color="info" @click="toggle_post_create_form"><v-icon>mdi-pencil</v-icon></v-btn></v-col>
</v-row>
<v-divider></v-divider>

<!-- Write Post -->
<v-row v-if="post_create_form" class="mt-1">
    <v-card width="95%"
        class="ma-2"
        elevation="6"
        outlined
        style="border-right: 8px solid rgb(39,86,139)">
        <v-card-title>Create Post</v-card-title>
        <v-card-text class="pb-0">
            <v-form v-model="create_post_valid">
                <v-text-field v-model="create_post_title"
                    label="Title"
                    placeholder="Title"
                    :rules="title_rules"></v-text-field>
                <v-textarea v-model="create_post_content"
                    label="Content"
                    placeholder="Content"
                    :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-content>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="create_post">Create</v-btn>
            <v-btn color="error" @click="toggle_post_create_form">Cancel</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<!-- Display Posts -->
<v-row v-for="post in posts" :key="post.id" class="mt-1 pt-4">
    <v-spacer></v-spacer>
    <v-card outlined
            width="95%"
            elevation="6"
            class="rounded-lg"
            style="text-decoration: none;
                    border-left: 8px solid rgb(39,86,139)"
            :id="'post_' + post.id">
        <v-card-title>
            [[ post.title ]]
            <v-spacer></v-spacer>
            <v-chip @click="like_post(post)"
                color="info" class="mr-1">[[post.like_count]]
                <v-icon small right v-if="post.liked_by_user">mdi-thumb-up</v-icon>
                <v-icon small right v-else>mdi-thumb-up-outline</v-icon>
            </v-chip>
            <small>[[ post.created ]]</small>
            <!-- Owner Tag -->
            <v-chip v-if="post.owner_class == 'super'"  class="ml-1"
                :href="post.owner_url" color="orange" text-color="white">
                <v-icon left>mdi-shield-star</v-icon>[[ post.owner_name ]]
            </v-chip>
            <v-chip v-if="post.owner_class == 'staff'" class="ml-1"
                :href="post.owner_url" color="success" text-color="white">
                <v-icon left>mdi-shield-account</v-icon>[[ post.owner_name ]]
            </v-chip>
            <v-chip v-if="post.owner_class == 'user' && post.owner_id" class="ml-1"
                :href="post.owner_url" color="info" text-color="white">
                <v-icon left>mdi-account</v-icon>[[ post.owner_name ]]
            </v-chip>
        </v-card-title>

        <v-card-text>
            [[ post.content ]]
        </v-card-text>

        <!-- Edit Post -->
        <v-card-text v-if="post.id == edit_post_id" class="pa-0 pl-2 pr-2">
            <v-divider></v-divider>
            <v-card-title class="pa-0 pl-2">Edit Post</v-card-title>
            <v-form v-model="edit_post_valid" class="pl-2 pr-2">
                <v-text-field v-model="edit_post_title"
                    label="Title"
                    :rules="title_rules"></v-text-field>
                <v-textarea v-model="edit_post_content"
                    label="Content"
                    :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-text>

        <!-- Write a Reply -->
        <v-card-text v-if="post.id == reply_id" class="pa-0 pl-2 pr-2">
            <v-divider></v-divider>
            <v-card-title class="pa-0 pl-2">Write a Reply</v-card-title>
            <v-form v-model="reply_valid" class="pl-2 pr-2">
                <v-text-field v-model="reply_title"
                    label="Title"
                    :rules="title_rules"></v-text-field>
                <v-textarea v-model="reply_content"
                    label="Content"
                    :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-text>

        <!-- Actions depend on state MIGHT NEED REWORK -->
        <v-card-actions>
            <!-- Owner Options -->
            <v-btn v-if="('{{user.username|escapejs}}' == post.owner_name) && post.id != edit_post_id && post.id != reply_id"
                color="info"
                @click="toggle_post_edit_form(post); reply_id=0;"><v-icon>mdi-pencil</v-icon></v-btn>
            <v-btn v-if="('{{user.username|escapejs}}' == post.owner_name) && !(post.id == edit_post_id) && !(post.id == reply_id)"
                color="error"
                @click="delete_post(post.id)"><v-icon>mdi-delete</v-icon></v-btn>

            <!-- Edit Options -->
            <v-btn v-if="post.id == edit_post_id" color="success" @click="edit_post(post)">Edit</v-btn>
            <v-btn v-if="post.id == edit_post_id" color="error" @click="edit_post_id=0">Cancel</v-btn>

            <!-- Reply Options -->
            <v-btn v-if="post.id == reply_id" color="success" @click="create_reply(post)">Reply</v-btn>
            <v-btn v-if="post.id == reply_id" color="error" @click="reply_id=0">Cancel</v-btn>

            <v-spacer></v-spacer>

            <!-- Generic Options -->
            <v-btn v-if="post.id != reply_id" color="info" @click="toggle_reply_form(post)"><v-icon>mdi-reply-all</v-icon>Reply</v-btn>
            <v-btn small fab color="info" @click="expand_post(post.id)"><v-icon>mdi-chevron-double-down</v-icon>[[post.reply_count]]</v-btn>
        </v-card-actions>

        <!-- Expanded Content -->
        <v-card-text v-if="post.id == expanded_id">
            <v-card-title v-if="expanded_children.length == 0">
            Nothing to see here.
            </v-card-title>
            <!-- Render replies -->
            <v-row v-for="child in expanded_children" :key="child.id">
                <v-col cols="3">
                    ACTIONS
                </v-col>
                <v-col cols="9">
                    <v-card dark
                        elevation="6"
                        class="rounded-lg"
                        style="text-decoration: none;
                                background-color: rgb(39,86,139)"
                        :id="'post_' + child.id">
                        <v-card-title>
                            [[ child.title ]]
                            <v-spacer></v-spacer>
                            <v-chip @click="like_post(child)"
                                color="info" class="mr-1">[[child.like_count]]
                                <v-icon small right v-if="child.liked_by_user">mdi-thumb-up</v-icon>
                                <v-icon small right v-else>mdi-thumb-up-outline</v-icon>
                            </v-chip>
                            <small>[[ child.created ]]</small>
                            <!-- Owner Tag -->
                            <v-chip v-if="child.owner_class == 'super'" class="ml-1"
                                :href="child.owner_url" color="orange" text-color="white">
                                <v-icon left>mdi-shield-star</v-icon>[[ child.owner_name ]]
                            </v-chip>
                            <v-chip v-if="child.owner_class == 'staff'" class="ml-1"
                                :href="child.owner_url" color="success" text-color="white">
                                <v-icon left>mdi-shield-account</v-icon>[[ child.owner_name ]]
                            </v-chip>
                            <v-chip v-if="child.owner_class == 'user' && child.owner_id" class="ml-1"
                                :href="child.owner_url" color="info" text-color="white">
                                <v-icon left>mdi-account</v-icon>[[ child.owner_name ]]
                            </v-chip>
                        </v-cart-title>
                        <v-card-text>[[ child.content ]]</v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</v-row>

{% endblock%}