{% extends "forum_header.html" %}

{% block content %}

<!-- Title Tag, like on the home page. -->
<v-row id="forum_header" class="mt-1">
    <v-card outlined
            width="100%"
            elevation=6
            class="ma-2 rounded-lg"
            style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>
            [[ forum.title ]]
            <v-spacer></v-spacer>
            <!-- Edit Functionality -->
            {% if perms.UCUG.edit_forum %}
                <v-chip v-on:click="toggle_forum_edit_form()" small
                class="mr-2 pa-3" color="info">
                <v-icon>mdi-pencil</v-icon></v-chip>
            {% endif %}

            <!-- Author Tag -->
            {% if forum.owner_id %}
            <v-chip :href="forum.owner_url" color="orange" text-color="white">
                <v-icon left>mdi-shield-star</v-icon>[[ forum.owner_name ]]
            </v-chip>
            {% endif %}
        </v-card-title>

        <v-card-text>
            [[ forum.description ]]
        </v-card-text>
    </v-card>
</v-row>

<!-- Edit Form for Forum -->
<v-row v-if="forum_edit_form">
    <v-card width="95%"
        class="ma-2"
        elevation="6"
        outlined
        style="border-left: 8px solid rgb(39,86,139)">
        <v-card-title>Edit  "[[ forum.title ]]"</v-card-title>

        <!-- The Form -->
        <v-card-text class="pb-0">
            <v-form v-model="edit_forum_valid">
                <v-text-field v-model="edit_forum_title"
                            label="Title"
                            placeholder="Title"
                            :rules="title_rules"></v-text-field>
                <v-textarea v-model="edit_forum_description"
                            label="Description"
                            placeholder="Description"
                            :rules="content_rules"></v-textarea>
            </v-form>
        </v-card-text>

        <v-card-actions class="pt-0">
            <v-spacer></v-spacer>
            <v-btn @click="edit_forum" color="success">Edit</v-btn>
            <v-btn @click="toggle_forum_edit_form" color="error">Cancel</v-btn>
        </v-card-actions>
    </v-card>
</v-row>

<v-divider></v-divider>
<!-- Post Create & Filter functionality -->
<v-row class="justify-center">
    <v-card
        width="95%"
        max-width="650px"
        outlined
        class="ma-2"
        elevation="6"
        style="border-left: 8px solid rgb(39,86,139)">
        <v-row
            class="mr-2 ml-2 mb-0 mt-0">
            <v-col cols="12" sm="8" class="pa-0">
                <v-text-field
                    placeholder="Search Posts"
                    v-model="query_search_term"></v-text-field></v-col>
            <v-col cols="12" sm="4" class="pa-0">
                <v-select
                    :items="search_by"
                    label="Search By"
                    v-model="query_search_by"
                ></v-select></v-col>
        </v-row>
        <v-row
            class="ml-2 mr-2 mb-0 mt-0"
            align="center">
            <v-col cols="12" sm="4" class="pa-0">
                <v-select
                    :items="order_by"
                    label="Order By"
                    v-model="query_order_by">
                    </v-select></v-col>
            <v-col cols="12" sm="4" class="d-flex justify-center pa-0 pb-2">
                <v-btn
                    outlined
                    color="rgb(39,86,139)"
                    :elevation="query_by_me ? 9 : 4"
                    :class="query_by_me ? 'query_button_highlight' : ''"
                    @click="query_by_me = !query_by_me">
                        Posts By Me</v-btn></v-col>
            <v-col cols="12" sm="4" class="d-flex justify-space-between align-center pa-0 pb-2">
                <v-btn elevation=4 rounded color="success"><v-icon>mdi-magnify</v-icon> Search</v-btn>
                <v-btn elevation=4 rounded color="info"><v-icon>mdi-pencil</v-icon></v-btn></v-col>
        </v-row>
    </v-card>
</v-row>
<v-row>
</v-row>

<v-divider></v-divider>

<!-- Display Posts -->
<div id="post_list"></div>

{% endblock%}